body{
    font-family: 'Avenir', sans-serif;   
}

h1{
    /* color can be name, rgb, rgba, hex */
    color:#000000;
    font-size: 100px;

    /* the serif after Palatino below is a backup incase the website cant get Palatino */
    font-family: 'Palatino', serif;

    display: inline-block;

}

#second-header{

    color: #ffffff;
    
}

p{
    font-size: 14px;
    width: 30%; /* this is based on the width of the wrapper */
    
}

#hero-wrapper{
    /* width is necessary to be able to use margins */
    width: 600px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top:10%;

    position: relative;
    z-index: 2;
    }

#hero-beans{
    /*google css backgrounds for w3schools.com*/
    background-image: url("img/beans.jpg");
    background-size: cover;
    background-attachment: fixed;
    
    position: absolute;
    z-index: 1;

    top: 0px;
    right: 0%;

    width:50%;
    height:600px;
    
}