body{
    font-family: 'Avenir', sans-serif;  
    margin:0px;
    background-color: #F7F7F7;

    font-size: 100%;
    
}

#navbar{
    position: absolute;
    top: 0px;
    width: 100vw;
    z-index: 2;

    display:flex;
    flex-direction: row;
}

#nav-social{
    width: 50%;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
}

#nav-text{
    width: 50%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
}

#icon{
    height: 22px;
    margin-right:50px;
}

#menu-link{
    
    color:white;
    margin-left: 50px;
}

h1{
    /* color can be name, rgb, rgba, hex */
    color:#451F11;
    font-size: 100px;

    /* the serif after Palatino below is a backup incase the website cant get Palatino */
    font-family: 'Palatino', serif;

    margin-bottom: 0px;

    font-size: 6em;

}

#first-header{
    animation-name: title-move;
    animation-duration: 0.6s;
    animation-delay: 0.1;
    animation-timing-function: ease-out;
}

@keyframes title-move{
    0%{
        transform: translate(0,-50px);
        opacity: 0.1;
    }

    100%{
        transform: translate(0,0%);
        opacity: 1;
    }
}

#second-header{

    color: white;
    padding-left: 20px;
    
    animation-name: second-title-move;
    animation-duration: 0.6s;
    animation-delay: 0.1s;
    animation-timing-function: ease-out;

}

@keyframes second-title-move{
    0%{
        transform: translate(0,50px);
        opacity: 0%;
    }

    100%{
        transform: translate(0,0);
        opacity: 1;
    }
}

p{
    font-size: 14px;
}

#sub-title{
    font-size: 1em;
    width: 44%; /* this is based on the width of the wrapper */
    text-align: right;
}

#hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

#hero-wrapper{
    /* width is necessary to be able to use margins */
    width: 600px;
    
    text-align: center;
    position: relative;
    z-index: 2;
    padding-left: 37px;
    }

#heading-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;

}

#hero-beans{
    /*google css backgrounds for w3schools.com*/
    background-image: url("img/beans.jpg");
    background-size: cover;
    background-attachment: fixed;
    
    position: absolute;
    z-index: 1;

    top: 0px;
    right: 0%;

    width:50%;
    height:100vh;

}

.standard-margin-section{
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 200px;
}

.columns-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.column{
    background-color: #ffffff;
    width: 30%;
    min-width: 200px;
}

.column-image{
    width: 100%;
}

.column-text-wrapper{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
}

.middle-column{
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    grid-auto-rows: minmax(350px, auto);
}

.grid-text{
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 25px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.espresso-pic{
    background-image: url("img/esspre.jpg");
    background-size: cover;
    background-position: center;
    grid-column: 2/4;
    grid-row: 1/2;
    width: 100%;
}

.secondone{
    grid-column: 3/4;
    grid-row: 2/3;

}

.cappuccino-pic{
    background-image: url("img/cap.jpg");
    background-size: cover;
    background-position: center;
    grid-column: 1/3;
    grid-row: 2/3;
}

.grid-writing{
    width: 100%;
    text-align: left;
}

.contact-section{
    padding-top: 200px; 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.contact-img-wrapper{
    width: 50%;
    background-image: url("img/coffee_talk.jpg");
    background-size: cover;
    background-position: center;
    margin-right: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.form-wrapper{
    width: 50%;
    margin-left: 15px;

    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;

    background-color: white;

}

#contact-heading{
    color: white;
}

input, textarea{
    margin-top: 25px;
}

input[type=text], textarea{
    height: 50px;
    width: 75%;
    border: none;
    background-color: #F7F7F7;
    padding-left: 10px;

    font-size: 20px;
  }

input[type=submit]{
    background-color:#451f11;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    width: 100px;
    font-family: 'Palatino', serif;
    transition: transform 0.5s, box-shadow 0.5s;
}

input[type=submit]:hover{
    transform: scale(1.1);   
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);

}

.footer-wrapper{
    margin-top: 200px;
    background-color: white;
}

.footer{
    padding-top: 25px;
    display: flex;   
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 20px;
}

.footer-link{
    margin-left: 15px;
}

.copyright-wrapper{
    background-color: #f7f7f7;
    height: 25px;
}

.copyright-text{
    width: 100%;
    text-align: center;
    font-size: 10px;
    padding-top: 5px;
}

#footer-heading{
    margin: 0px;
    font-size: 35px;
}

@media screen and (max-width: 640px){

    #hero-beans{
        width:100vw;
        height:50vh;
        bottom: 0px;
        top: auto;
    }

    #second-header{
        margin-top: 0px;
    }

    #heading-wrapper{
        flex-direction: column;
        padding-top: 2em; 
    }

    #sub-title{
        margin-right: 0px;
        color: white;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .middle-column{
        flex-direction: column-reverse;
    }

    .grid{
        grid-template-columns: 1fr;
    }

    .espresso-pic{
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .grid-text{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    
    .cappuccino-pic{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    
    .secondone{
        grid-column: 1/2;
        grid-row: 4/5;
    }
    
}
